{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-unused-vars": [2, {     // http://eslint.org/docs/rules/no-unused-vars
      "vars": "local",
      "args": "after-used",
      "argsIgnorePattern": "^_"
    }]
  }
}
